{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 0.25%, not dead"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {}, "transform-runtime"],
    ["@babel/plugin-proposal-object-rest-spread", {}, "rest-spread"],
    ["@babel/plugin-proposal-class-properties", {}, "class-properties"]
  ]
}